body{
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    font-size: 1em;
	color: white;
	/* mssg centered */
	min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
	min-height: 100vh; /* These two lines are counted as one :-)       */
	display: flex;
    align-items: center;
}

.countdown{
    font-weight: 700;
    font-size: 20em;
}

#header, #footer{
    font-size: 3em;
}

#footer{
    color: rgba(255, 255, 255, 0.15);
}