@font-face {
    font-family: "ASM";
    font-weight: 400;
    src: url(ASM-Regular.otf) format("opentype");
}

@font-face {
    font-family: "ASM";
    font-weight: 700;
    src: url(ASM-Bold.otf) format("opentype");
}

body{
    font-family: "ASM", "Roboto Condensed", sans-serif;
    font-weight: 700;
    font-size: 1em;
	color: white;
	/* mssg centered */
	min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
	min-height: 100vh; /* These two lines are counted as one :-)       */
	display: flex;
    align-items: center;
}

.countdown{
    font-weight: 400;
    font-size: 30em;
    /* ASM */
    letter-spacing: -0.05em;
    line-height: 0.5em;
    padding-top: 0.2em;
}

#header, #footer{
    font-size: 3.2em;
    text-transform: uppercase;
    /* ASM */
    line-height: 0.5em;
    padding-top: 0.2em;
}

#footer{
    color: rgba(255, 255, 255, 0.25);
}