@font-face {
    font-family: "mono";
    src: url(mono.ttf) format("truetype");
}

@font-face {
    font-family: "Zwizz-Bold";
    src: url(Zwizz-Bold.ttf) format("truetype");
}

@font-face {
    font-family: "Zwizz-Regular";
    src: url(Zwizz-Regular.ttf) format("truetype");
}

html {
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    height: 100%;
    width: 100%;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: #000;
    height: 100%;
    width: 100%;
    
    font-family: "Zwizz-Bold", sans-serif, Helvetica, Arial, "Helvetica Neue";
    font-weight: bold;
    font-size: 9px;
    color: #fff;
    
    /*unselectable text*/
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#dev {
    margin: 0px;
    padding: 10px 0px 0px 10px;
    font-family: "mono", monospace;
    color: #fff;
}

ul {
    margin: 0px;
    padding: 0px 0px 10px 0px;
}

.content {
    margin: auto;
    width: 100%;
    text-align: center;
    /*height: 100%;*/
}

#header{
    color: white;
    margin: 0;
    position: absolute;
    top: 12%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    font-size: 70px;
}

#footer{
    left: 50%;
    transform: translate(-50%, -50%);
}

#footerL{
    left: 5%;
    transform: translate(0%, -50%);
}

#footerR{
    right: 5%;
    transform: translate(0%, -50%);
}

#footer, #footerL, #footerR{
    color: white;
    margin: 0;
    position: absolute;
    top: 92%;
    font-size: 20px;
}

#countdown{
    color: #fff;
    font-size: 400px;
    margin: 0;
    position: absolute;
    top: 53%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
}